<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ asset('bundles/app/images/gears.png') }}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Nie zlaziono tej strony.</title>

    {% stylesheets
    'bundles/app/css/bootstrap.min.css'
    'bundles/app/css/style.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    'bundles/app/js/jquery-2.1.4.min.js'
    'bundles/app/js/bootstrap.min.js'
    'bundles/app/js/sweetalert.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body style="background-image: url({{ asset('bundles/app/images/electronics.jpg') }})">

<div class="container text-center" style="padding-top: 150px; max-width: 400px;">
    <div class="jumbotron">
        <h4>Ups, coś poszło nie tak.</h4>
        <a href="{{ path('pokwitowanie_user_panel') }}" class="btn green">Przejdź do strony głównej</a>
    </div>
</div>
</body>
</html>