<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
Witamy w zespole,<br>
<br>
oto Twoje dane logowania:<br>
login: {{ worker.username }} lub Twój email<br>
tymczasowe hasło: {{ worker.tempPw }}<br>
<br>
Serdecznie pozdrawiamy.<br>
<br>
<hr/>
{% set company = app.user.localization.company %}
<table>
    <tr>
        <td valign="top" style="min-width: 130px;">
            <strong>{{ company.name }}</strong><br>
            ul. {{ worker.localization.street }}<br>
            {{ worker.localization.postCode }} {{ worker.localization.city }}<br>
        </td>
        <td valign="top" style="min-width: 140px;">
            <strong>Godziny otwarcia</strong><br>
            Poniedziałek – Piątek: {{ worker.localization.monFriOpen }}<br>
            {% if worker.localization.satOpen is not empty %}Sobota: {{ worker.localization.satOpen }}{% endif %}
        </td>
        <td valign="top" style="min-width: 110px;">
            <strong>Telefon</strong><br>
            {{ phone_number_format(worker.localization.tel1) }}<br>
            {% if worker.localization.tel2 is not null %}
                {{ phone_number_format(worker.localization.tel2) }}<br>
            {% endif %}
            {% if worker.localization.tel3 is not null %}
                {{ phone_number_format(worker.localization.tel3) }}<br>
            {% endif %}
        </td>
        <td valign="top">
            <strong>Email</strong><br>
            {{ worker.localization.emailFirst }}<br>
            {{ worker.localization.emailSecond }}
        </td>
    </tr>
    <tr>
        <td colspan="4" valign="top">
            <a href="{{ company.mainSite }}" target="_blank">
                <img alt="{{ company.mainSite }}" style="max-height: 100px; max-width: 200px;" src="
                    {% if app.user.localization.company.logoFile is not empty %}
                        {{ app.request.getUriForPath(vich_uploader_asset(company, 'logoFile')) }}
                    {% endif %}
                    "/>
            </a>
        </td>
    </tr>
</table>
</body>