<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
Witamy,<br>
<br>
{% block messageContainer %}{% endblock %}<br>
<br>
<a href="{{ url('pokwitowanie_user_panel') }}" target="_blank">Status naprawy on-line</a><br>
<br>
Serdecznie pozdrawiamy.<br>
<br>
<hr/>
<table>
    <tr>
        <td valign="top">
            {% set company = company_service.getCompany %}
            <a href="{{ company.mainSite }}" target="_blank">
                {% if app.user and app.user.localization.company.logoFile is not empty %}
                    <img
                        src="{{ app.request.getUriForPath(vich_uploader_asset(company, 'logoFile')) }}"
                        style="max-height: 60px;"
                        alt="{{ company.mainSite }}"
                    />
                {% endif %}

            </a>
        </td>
        <td valign="top" style="min-width: 130px;">
            <strong>{{ company.name }}</strong><br>
        </td>
    </tr>
</table>