{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary pull-right" type="submit" value="{{ 'change_password.submit'|trans }}"/>
    </div>
</form>
<a href="{{ path('pokwitowanie_user_panel') }}">
    <button class="btn btn-default">Powrót</button>
</a>