{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    | Nowe pokwitowanie | Wybór klienta
{% endblock %}

{% block pageContainer %}

    {% include 'AppBundle::alerts.html.twig' %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Nowy klient</a></li>
        <li><a data-toggle="tab" href="#menu1">Klient z bazy</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" style="padding-top: 10px;" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.surname) }}
                    {{ form_row(form.tel) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.marketing_agreement) }}
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-info btn-sm btn-block user-invoice-data">
                                Dane do faktury
                                <span class="glyphicon glyphicon-triangle-bottom pull-right"
                                      style="margin-top: 2px;"></span>
                            </button>
                            <div class="user-invoice-data-body {% if form.vars.valid %}hidden{% endif %}">
                                {{ form_row(form.client_company_name, { 'label_attr': {'style': 'margin-top: 15px;'} }) }}
                                {{ form_row(form.client_company_address) }}
                                {{ form_row(form.client_company_post_code) }}
                                {{ form_row(form.client_company_city) }}
                                {{ form_row(form.client_company_NIP) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.save, {'label': 'Dodaj', 'attr': {'class': 'btn btn-success btn-sm pull-right'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div id="menu1" style="padding-top: 10px;" class="tab-pane fade">

            <form method="get" name="findUser" action="{{ path('worker_panel_pokwitowanie_user_add') }}">
                <div class="form-group">
                    <label class="control-label" for="findUser_phrase">Szukana fraza</label>
                    <input type="text" placeholder="np. id, imię, nazwisko, login, tel, e-mail."
                           class="form-control input-sm" name="findUserPhrase"
                            {% if app.request.get('findUserPhrase') is not empty %}
                                value="{{ app.request.get('findUserPhrase') }}"
                            {% endif %}
                    />
                </div>
                <a href="{{ path(app.request.get('_route')) }}" class="btn btn-danger btn-sm">Reset</a>
                <input type="submit" value="Wyszukaj" name="find" class="btn btn-success btn-sm"/>
            </form>

            {% include 'AppBundle:PaginationLimit:paginationLimit.html.twig' %}

            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">

                    <div class="alert alert-danger hide">
                        Brak szukanej frazy w bazie.
                    </div>

                    {% if app.request.query.has('limit') %}
                        <script>
                            $('.nav.nav-tabs li.active').removeClass('active');
                            $('a[href=#menu1]').parent().addClass('active');
                            $('#home').removeClass('active').removeClass('in');
                            $('#menu1').addClass('active').addClass('in');
                        </script>
                    {% endif %}

                    {% if pagination is not null %}
                        <script>
                            $('.nav.nav-tabs li.active').removeClass('active');
                            $('a[href=#menu1]').parent().addClass('active');
                            $('#home').removeClass('active').removeClass('in');
                            $('#menu1').addClass('active').addClass('in');
                        </script>
                    {% if pagination.items is empty %}
                        <script>
                            $('.alert').removeClass('hide');
                        </script>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="convertable-table">
                                <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Imię i Nazwisko</th>
                                    <th>Login</th>
                                    <th>Tel</th>
                                    <th>e-mail</th>
                                    <th>Wybierz</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entry in pagination %}
                                    <tr>
                                        <td data-title="User ID">{{ entry.altId }}</td>
                                        <td data-title="Imię i Nazwisko">{{ entry.name }} {{ entry.surname }}</td>
                                        <td data-title="Login">{{ entry.username }}</td>
                                        <td data-title="Tel">
                                            {% if entry.tel is not null %}
                                                {{ phone_number_format(entry.tel) }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td data-title="E-mail">
                                            {% if entry.email is not null %}
                                                {{ entry.email }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td data-title="Wybierz">
                                            <a href="{{ path('worker_panel_pokwitowanie_add_device',{'id':entry.id}) }}">Wybierz</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation text-center">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                            <small class="help-block text-center">
                                Liczba wyników: {{ pagination.getTotalItemCount }}
                            </small>
                        </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#newUser_name').focus();
        });
        $('#userType_tel').formatter({
            'pattern': '+{\{99\}\} \{\{9999999999}\}',
            'persistent': true
        });
        $('#userType_client_company_post_code').formatter({
            'pattern': '{\{99\}\}-\{\{999}\}'
        });
        $('.user-invoice-data').click(function () {
            $('.user-invoice-data-body').toggleClass('hidden');
        });
    </script>
{% endblock %}