{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    | Urządzenia
{% endblock %}

{% block pageContainer %}

    {% include 'AppBundle::alerts.html.twig' %}

    <form method="get" name="findDevices">
        <label class="control-label" for="phrase">Szukana fraza</label>
        <input type="text" placeholder="np. marka, model, s/n..."
               class="form-control" name="phrase" style="margin-bottom: 15px;" autofocus
                {% if app.request.get('phrase') is not empty %}
                    value="{{ app.request.get('phrase') }}"
                {% endif %}
        />
        <a href="{{ path(app.request.get('_route')) }}" class="btn btn-danger btn-sm">Reset</a>
        <button type="submit" name="find" class="btn btn-success btn-sm">Wyszukaj</button>
    </form>

    {% include 'AppBundle:PaginationLimit:paginationLimit.html.twig' %}

    <div class="table-responsive" style="margin-top: 20px;">
        <table class="table table-striped table-bordered" id="convertable-table">
            <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'ID', 'device.alt_id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Marka', 'device.brand') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Model', 'device.model') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Numer seryjny', 'device.serial') }}
                </th>
                <th>Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in pagination %}
                <tr>
                    <td data-title="ID">
                        {{ entry.altId }}
                    </td>
                    <td data-title="Marka">
                        {{ entry.brand }}
                    </td>
                    <td data-title="Model">
                        {{ entry.model }}
                    </td>
                     <td data-title="Numer seryjny">
                        {{ entry.serial }}
                    </td>
                    <td data-title="Szczegóły">
                        <a href="{{ path('worker_panel_device_details',{'id':entry.id}) }}">
                            Zobacz
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" data-title="Urządzenia">Brak rekordów do wyświetlenia.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <small class="help-block text-center">
        Liczba wyników: {{ pagination.getTotalItemCount }}
    </small>

{% endblock %}

